# Copy this file to .env and set your real password (never commit .env).
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Faustin1999@
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# Email notifications for students (SMTP)
# For local testing, you can keep EMAIL_BACKEND as console.
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=djakbafaustin20@gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=faustindjakba780@gmail.com
EMAIL_HOST_PASSWORD=zfyr mhyo bvwd wncq
EMAIL_USE_TLS=1
DEFAULT_FROM_EMAIL=no-reply@jwhi-lms.local
